* {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  font-family: Verdana, sans;
}
html {
  height: 100%;
  width: 100%;
}
body {
  width: 100%;
  height: inherit;
}
#root {
  height: inherit;
  display: flex;
}
.app {
  width: 100%;
  margin: auto;
  height: 100%;
  background-color: #f6f6ef;
}
.main {
  display: flex;
  height: calc(100% - 31px);
}
.gutter {
  height: 100%;
  width: 300px;
  overflow-y: auto;
  border-right: 1px solid #CCC;
}
.detailpanel {
  overflow-y: auto;
  flex: 1;
}
.detailpanel .playlist div.playlisttopbar {
  padding: 5px;
  display: flex;
  margin: 5px 0px;
}
.detailpanel .playlist div.playlisttopbar button:first-child {
  margin-right: 5px;
}
.detailpanel .playlist div.playlisttopbar div {
  margin-left: auto;
}
.detailpanel .video {
  padding: 3px 0px 3px 5px;
  border-top: 1px solid #CCC;
  display: flex;
}
.detailpanel .video div {
  margin-left: auto;
  margin-right: 5px;
}
.detailpanel .video:last-child {
  border-bottom: 1px solid #CCC;
}
.topbar {
  height: 30px;
  border-bottom: 1px solid #CCC;
  background: #0066ff;
  display: flex;
  align-items: center;
}
.topbar span {
  margin: 0 5px;
}
.topbar span.searchWrapper {
  margin-left: auto;
}
button {
  border: 1px solid #777;
  background: transparent;
  padding: 2px 6px;
  height: 20px;
  border-radius: 5px;
}
button:hover {
  background: #CCC;
}
.gutter .playlist {
  display: flex;
  border-bottom: 1px solid #AAA;
  padding: 4px;
}
.gutter .playlist h3 {
  max-width: 300px;
  overflow: hidden;
}
.player {
  border-left: 1px solid #CCC;
  display: flex;
  height: 100%;
}
.player iframe {
  align-self: center;
  border: 0px;
}
