html {
  height: 100%;
  padding: 0px;
}
input + input {
  margin-top: 10px;
}
#root {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: hidden;
  background: #EEE;
  padding: 0px;
  margin: 0px;
}
body .app {
  height: 100%;
  overflow: hidden;
  background: #EEE;
}
body .app .sidebar {
  height: 100%;
  background: #FFF;
  width: 400px;
  border-right: 2px solid #CCC;
  display: inline-block;
}
body .app .sidebar .search {
  height: 10%;
  margin: 0px 10px;
}
body .app .sidebar .search input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #CCC;
  border-radius: 3px;
}
body .app .sidebar .results {
  height: 90%;
  overflow-y: scroll;
}
body .app .sidebar .results .result {
  box-sizing: border-box;
  width: 100%;
  display: inline-flex;
  padding: 10px;
}
body .app .sidebar .results .result span {
  width: 250px;
  margin-right: 10px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .app .sidebar .results .result img {
  align-items: center;
  margin-right: 10px;
  width: 50px;
  height: 100%;
  display: flex;
}
body .app .sidebar .results .result + .result {
  border-top: 1px solid #CCC;
}
body .app .sidebar .results .result select {
  width: 19px;
  height: 20px;
  margin: auto 5px auto auto;
  -webkit-appearance: none;
  font-size: 30px;
  line-height: 18px;
  background: transparent;
  border: 0px;
  outline: none;
  border-radius: 5px;
}
body .app .sidebar .results .result select:hover {
  color: #AAA;
}
body .app .sidebar .results .result select option {
  color: black;
  font-size: 15px;
  padding: 5px;
}
body .app .sidebar .results .result select option:first-child {
  display: none;
}
body .app .main {
  display: inline-block;
  width: 900px;
  vertical-align: top;
  height: 100%;
}
body .app .main .playlists {
  height: 100%;
}
body .app .main .playlist {
  border: 2px solid #ccc;
  border-radius: 10px;
  max-height: calc(100% - 40px);
  min-height: 160px;
  box-sizing: border-box;
  overflow-y: scroll;
  width: 250px;
  float: left;
  padding: 0px 10px;
  margin: 20px 10px;
  position: relative;
}
body .app .main .playlist .removeX {
  cursor: pointer;
  text-transform: uppercase;
  font-family: sans;
  position: absolute;
  right: 3px;
  top: 0px;
  font-weight: bold;
}
body .app .main .playlist > button {
  margin: auto;
  display: block;
}
body .app .main .playlist h3 {
  text-align: center;
}
body .app .main .playlist .video {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
body .app .main .playlist .video img {
  display: block;
  margin: auto;
}
body .app .main .playlist .video span {
  display: block;
  text-align: center;
}
body .app .main .playlist .video + .video {
  border-top: 1px solid #CCC;
}
body .app .main .playlist .video .removeX {
  color: #888;
  position: absolute;
  font-family: sans serif;
  font-weight: bold;
  right: 0px;
  top: 0px;
}
body .app .main .playlist .video .removeX:hover {
  cursor: pointer;
  color: #000;
}
iframe {
  position: fixed;
  right: 0px;
  bottom: 0px;
}
/* Handle */
.sidebar ::-webkit-scrollbar-thumb {
  background: #646464;
}
.sidebar ::-webkit-scrollbar {
  width: 5px;
}
.playlists ::-webkit-scrollbar-thumb {
  background: #969696;
}
.playlists ::-webkit-scrollbar {
  width: 2px;
}
